.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.logo {

}

.logo img {

}

.nav {

}

.nav__lists {
    display: flex;
    align-items: center;
    margin-top: 0;
    list-style-type: none;
}

.nav__lists-list {
    margin-left: 35px;
}

.nav__lists-list:first-child {
    margin-left: 0;
}

.nav__lists-list a {
    color: var(--white-color);
    text-decoration: none;
}


.favorite {
    display: flex;
    align-items: center;
}


.favorite__img {
    width: 34%;
    height: auto;
}

.favorite__link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    text-decoration: none;
    color: var(--white-color);
    font-size: 15px;
}

.favorite__link p {
    max-width: 85px;
}


.favorite__count {
    position: absolute;
    top: 50%;
    left: 83%;
    transform: translate(-50%, -50%);
    color: var(--white-color);;
}

.nav__lists-list input {
    width: 300px;
    height: 25px;
    padding-left: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: var(--white-color);
}


.nav__lists-list input:focus {
    border: none;
}


@media (min-width: 480px) and (max-width: 820px) {

}
