.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}

.footer__title {
    text-align: center;
}

@media (min-width: 320px) and (max-width: 1164px) {
    .footer {
        position: relative;
    }

    .footer__title {
        margin: 0;
        padding: 30px 0 10px;
        text-align: center;
    }
}
