.footer {
<<<<<<< HEAD
    width: 100%;
=======
>>>>>>> 7ece567abef6290a5e81ff9bd68a8e3579d4f243
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
<<<<<<< HEAD
}

.footer__title {
    text-align: center;
=======
>>>>>>> 7ece567abef6290a5e81ff9bd68a8e3579d4f243
}