.favoritePeople {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.favorite__lists {
    width: 230px;
    max-width: 300px;
    margin-bottom: 40px;
    margin-right: 20px;
    padding-left: 0;
    list-style-type: none;
    position: relative;
}

.favorite__lists-list  {

}

.favorite__lists-list img {
    width: 100%;
    height: auto;
}

.favorite__lists-list:nth-child(2) {
    width: 100%;
    padding: 15px 0;
    color: var(--black-color);
    text-align: center;
    background-color: var(--white-color);
    position: absolute;
    bottom: 0;
}

.favorite__lists-list:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: var(--white-color);
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #0c0c0c;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.favorite__lists-list span {

}

.favorite__lists-list-btn {

}

